<style>
  .card-title {
    height: 45px;
  }
</style>
<div ng-controller="homeController">
  <div
    ng-repeat="x in videos"
    class="card m-2 float-left"
    style="width: 18.8%;"
  >
    <a href="#!/playVideo?isoffline={{x.isOffline}}&id={{x.videoLink}}">
      <img
        ng-src="https://www.simx.tv/picture/Photos/{{x.videoLink}}.png"
        class="card-img-top"
        alt="{{x.title}}"
        height="250"
        ng-click="playVideo('{{x.videoLink}}','{{x.isOffline}}')"
      />
      <div class="card-body">
        <h5 class="card-title">{{x.title | uppercase}}</h5>
        <!-- <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p> -->
        <p class="text-mute">
          {{x.viewers | number}} views • {{x.uploadDate | date}}
        </p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </a>
  </div>
</div>
